{% extends "base.html" %}
{% block footer %}              {# override -> only Home button #}
  <a class="btn" href="{{ url_for('homepage') }}">🏠 Homepage</a>
{% endblock %}

{% block content %}
<img src="{{ url_for('static',filename='logo.png') }}" class="logo">
<h1>Games Hub</h1>

<a class="btn" href="{{ url_for('play_game') }}">Play Card Game</a>
<a class="btn" href="{{ url_for('roulette')  }}">Play Roulette</a>
<a class="btn" href="{{ url_for('coinflip')  }}">Play Coin Flip</a>
{% endblock %}
